* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/**********************
*FONT
font-family: 'Lato', sans-serif;
font-family: 'Patua One', cursive;

font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
**********************/

/***********************
*NAVIGATION
************************/

.navigation {
  background: #fff;
  box-shadow: 0px 3px 3px #dddddd;
  height: 99px;
  padding-bottom: 20px;
}

.logo {
  height: 70px;
  width: auto;
  float: left;
  margin-top: 25px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 70px;
}

.main-nav li {
  display: inline-block;
  margin-right: 20px;
  color: #3f3f3f;
  font-family: 'Open Sans', sans-serif;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding-bottom: 6px;
  color: #3f3f3f;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
  padding-bottom: 6px;
  border-bottom: 2px solid #f1b945;
}

.parallax {
  background: url(../img/project-img-3.jpeg) no-repeat;
  height: 300px;
  width: 100%;
  background-position: center;
}

/***********************
*project list
************************/

.section-container {
  max-width: 70%;
  margin: 0px auto;
  display: block;
  padding: 0 10px;
}

.project {
  margin-top: 50px;
}

.row {
  margin-bottom: 30px;
}

.card-container {
  padding: 10px 10px 15px 10px;
}

.card-container p {
  margin: 5px;
}

.card-title {
  color: #00b99a;
  font-weight: 700px;
  font-family: 'Raleway', sans-serif;
  font-size: 110%;
}

.card-text {
  font-size: 80%;
  word-wrap: break-word;
}

.card:hover {
  box-shadow: 2px 2px 3px #81818130;
  border: 1px solid #81818163;
  transform: translateX(-2px);
  transform: translateY(-2px);
  cursor: pointer;
}

/***********************
*project details
************************/

.project-details {
  margin-top: 15px;
}

.more-projects-title {
  font-size: 120%;
  color: #00b99a;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  padding-left: 15px;
}

.project-subtitle {
  margin-top: 150px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 120%;
  color: #00b99a;
}

.project-subtitle-1 {
  margin-top: 80px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 120%;
  color: #00b99a;
}

.project-subtitle-2 {
  margin-top: 10px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  color: #005b97;
}

.project-content {
  position: relative;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  width: 80%;
  margin: 30px auto;
}

.com-res {
  width: 100%;
  margin: 5px auto;
  box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.185);
  border: 1px solid rgba(51, 51, 51, 0.185);
}

.card-bottom {
  margin-bottom: 30px;
}

.row-space {
  margin: 30px auto;
  display: block;
}

.uiux p {
  margin: 8px 0 0 0;
  font-size: 100%;
}

.uiux-title {
  opacity: 0;
  position: absolute;
  top: 65%;
  left: 7%;
  font-size: 160%;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  z-index: 1000;
}

.uiux-title p {
  color: #fff;
  margin-top: 5px;
}

.uiux-img {
  background-color: #000;
  overflow: hidden;
  margin: 0 auto;
  width: 90%;
  position: relative;
}

.uiux-img p {
  font-size: 60%;
  color: #fff;
  margin-top: 0px;
  font-weight: 400px;
}

.uiux-img img {
  width: 100%;
  height: auto;
  transform: scale(1.2);
  transition: all 0.5s ease;
  opacity: 1;
}

.uiux-img:hover > img {
  transform: scale(1);
  opacity: 0.5;
}

.uiux-img:hover > .uiux-title {
  animation: uiux-show 0.5s linear;
  opacity: 1;
}

@keyframes uiux-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/***********************
*FOOTER
************************/

footer {
  clear: both;
  background-color: #333;
  height: 350px;
  padding: 30px 0px;
  margin-top: 100px;
}

.footer-logo {
  width: 100%;
  margin: 0 auto;
  display: block;
  font-size: 200%;
  color: #fff;
  text-align: center;
}

.footer-logo a {
  color: #fff;
}

.footer-logo a:hover {
  color: #fff;
}

.social-link {
  list-style: none;
  width: 270px;
  margin: 25px auto;
}

.social-link li {
  display: inline-block;
  margin: 0 10px;
  color: #f1b945;
}

.social-link li a:link,
.social-link li a:visited {
  font-size: 150%;
  display: inline-block;
  padding: 0 10px;
  color: #00b99a;
  transition: color 0.5s;
}

.social-link li a:hover,
.social-link li a:active {
  color: #f1b945;
}
