* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.section-container-menu {
  max-width: 60%;
  margin: 0px auto;
  display: block;
}

.section-container {
  max-width: 70%;
  margin: 100px auto;
  display: block;
}

.section-container p {
  word-wrap: break-word;
}

/**********************
*FONT
font-family: 'Lato', sans-serif;
font-family: 'Patua One', cursive;

font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
**********************/

/* .title {
  color: #ffffff;
  font-size: 750%;
  font-family: 'Raleway', sans-serif;
  display: block;
  letter-spacing: 1px;
  word-spacing: 4px;
  position: left;
  text-align: left;
} */

.title-2 {
  color: #005b97;
  font-size: 400%;
  text-align: right;
  font-family: 'Raleway', sans-serif;
  padding-top: 50px;
}


.title-2-center {
  color: #005b97;
  font-size: 350%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-top: 50px;
}

.title-3 {
  color: #005b97;
  font-size: 200%;
  text-align: left;
  font-family: 'Raleway', sans-serif;
}

.title-4 {
  color: #005c99;
  font-size: 120%;
  font-family: 'Raleway', sans-serif;
}

.more-projects {
  text-align: right;
  color: #00b99a;
  font-weight: 700;
  padding-right: 30px;
}

.more-projects a {
  color: #00b99a;
}

.more-projects a:hover {
  border-bottom: 2px solid #00b99a;
  color: #00b99a;
  text-decoration: none;
}

.more-projects-left {
  text-align: left;
  color: #00b99a;
  font-weight: 700;
  padding-right: 30px;
}

.more-projects-left a {
  color: #00b99a;
}

.more-projects-left a:hover {
  border-bottom: 2px solid #00b99a;
  color: #00b99a;
  text-decoration: none;
}

.more-projects-center {
  text-align: center;
  color: #00b99a;
  font-weight: 700;
  padding-right: 30px;
}

.more-projects-center a {
  color: #00b99a;
}

.more-projects-center a:hover {
  border-bottom: 2px solid #00b99a;
  color: #00b99a;
  text-decoration: none;
}



h1 {
  color: #ffffff;
  font-size: 300%;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  text-align: left;
}

/***********************
*COLOR
#f1b945
#00b99a
#0069d9
************************/

/***********************
*HEADER
************************/

header {
  background-image: url(../img/header-3.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  font-family: 'Raleway', sans-serif;
}

.hero-text-box p {
  padding-left: 0px;
  font-size: 130%;
}

header p {
  color: #fff;
}

/***********************
*Glitch
************************/

.glitch {
  display: inline-block;
  color: white;
  font-size: 100px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 1s infinite linear alternate-reverse;
}

@keyframes noise-anim {
  0% {
    clip: rect(44px, 9999px, 57px, 0);
  }
  5% {
    clip: rect(86px, 9999px, 67px, 0);
  }
  10% {
    clip: rect(86px, 9999px, 32px, 0);
  }
  15% {
    clip: rect(83px, 9999px, 43px, 0);
  }
  20% {
    clip: rect(24px, 9999px, 3px, 0);
  }
  25% {
    clip: rect(99px, 9999px, 98px, 0);
  }
  30% {
    clip: rect(72px, 9999px, 5px, 0);
  }
  35% {
    clip: rect(73px, 9999px, 86px, 0);
  }
  40% {
    clip: rect(33px, 9999px, 59px, 0);
  }
  45% {
    clip: rect(3px, 9999px, 39px, 0);
  }
  50% {
    clip: rect(50px, 9999px, 81px, 0);
  }
  55% {
    clip: rect(70px, 9999px, 16px, 0);
  }
  60% {
    clip: rect(81px, 9999px, 91px, 0);
  }
  65% {
    clip: rect(87px, 9999px, 73px, 0);
  }
  70% {
    clip: rect(45px, 9999px, 79px, 0);
  }
  75% {
    clip: rect(42px, 9999px, 77px, 0);
  }
  80% {
    clip: rect(6px, 9999px, 3px, 0);
  }
  85% {
    clip: rect(8px, 9999px, 84px, 0);
  }
  90% {
    clip: rect(44px, 9999px, 85px, 0);
  }
  95% {
    clip: rect(11px, 9999px, 1px, 0);
  }
  100% {
    clip: rect(72px, 9999px, 81px, 0);
  }
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 1px;
  text-shadow: -1px 1px 0px red;
  top: 0px;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(64px, 9999px, 98px, 0);
  }
  5% {
    clip: rect(80px, 9999px, 75px, 0);
  }
  10% {
    clip: rect(9px, 9999px, 13px, 0);
  }
  15% {
    clip: rect(41px, 9999px, 97px, 0);
  }
  20% {
    clip: rect(22px, 9999px, 6px, 0);
  }
  25% {
    clip: rect(55px, 9999px, 24px, 0);
  }
  30% {
    clip: rect(50px, 9999px, 97px, 0);
  }
  35% {
    clip: rect(19px, 9999px, 44px, 0);
  }
  40% {
    clip: rect(57px, 9999px, 62px, 0);
  }
  45% {
    clip: rect(51px, 9999px, 20px, 0);
  }
  50% {
    clip: rect(30px, 9999px, 47px, 0);
  }
  55% {
    clip: rect(83px, 9999px, 98px, 0);
  }
  60% {
    clip: rect(3px, 9999px, 16px, 0);
  }
  65% {
    clip: rect(72px, 9999px, 23px, 0);
  }
  70% {
    clip: rect(47px, 9999px, 19px, 0);
  }
  75% {
    clip: rect(24px, 9999px, 66px, 0);
  }
  80% {
    clip: rect(98px, 9999px, 82px, 0);
  }
  85% {
    clip: rect(43px, 9999px, 93px, 0);
  }
  90% {
    clip: rect(41px, 9999px, 68px, 0);
  }
  95% {
    clip: rect(56px, 9999px, 27px, 0);
  }
  100% {
    clip: rect(56px, 9999px, 27px, 0);
  }
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0px 1px #000;
  top: 0px;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

/***********************
*NAVIGATION
************************/

.logo {
  height: 90px;
  width: auto;
  float: left;
  margin-top: 45px;
  opacity:0.9;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 70px;
}

.main-nav li {
  display: inline-block;
  margin-right: 20px;
  color: #fff;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding-bottom: 6px;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
  padding-bottom: 6px;
  border-bottom: 2px solid #f1b945;
}

/***********************
*social media list
************************/
.social-media-list{
  color:white;
  display: block;
  font-size:120%;   
  text-align: center;
  margin-top:20px;
}

.social-media-list i{
  padding:10px 15px;
}

.social-media-list a{
  color:white;
}

.social-media-list a:hover{
  color:#f1b945;
}



/***********************
*SVG mouse
************************/


.mouse-down{
  position: relative;
  top: 50%;
  left: 45%;
  padding:0px;
  color:white;
}



svg{
  position:absolute;
  margin-left:auto;
  margin-top:190px;
  margin-right:auto;
  animation: boat 5s ease infinite;
}


@keyframes boat{
  0%{
    transform: translateY(6px);
  }
  50%{
    transform: translateY(-6px);
  }
  100%{
    transform: translateY(6px);
  }

}

.mouse-chevron-down{
  position: absolute;
  margin-top:10px;
  color:white;
  font-size:110%;
}

.cls-1{
  stroke:#4195af;
  stroke-width:5px;
  opacity: 10;
}

.line-1{
  animation:wave 3s infinite;
  stroke-dasharray:40px;
  stroke-dashoffset: -40px;
}

.line-2{
  animation:wave 3s 0.5s infinite;
  stroke-dasharray:30px;
  stroke-dashoffset: -30px;
}

.line-3{
  animation:wave 3s 0.2s infinite;
  stroke-dasharray:60px;
  stroke-dashoffset: -30px;
}

@keyframes wave{
  from{
    transform: translateY(10px);
    opacity: 1;
    stroke-dashoffset:-20px;
  }
  to{
    opacity: 0;
    stroke-dashoffset: 20px;
  }
}

              
.cls-1,.cls-4{
  stroke-linecap:round;
  stroke-miterlimit:10;
}

.cls-2{
  fill:#f58d7e;
}

.cls-3{
  fill:#c26b59;
}

.cls-4{
  fill:none;
  stroke:#fff;
  stroke-width:3px;
}

.cls-5{
  fill:#fff;
}

/***********************
*BUTTON
************************/

.btn:link,
.btn:visited {
  margin-top: -5px;
  padding: 6px 15px;
  text-decoration: none;
  border-radius: 200px;
  background-color: #00b99a;
  border: 1px solid #00b99a;
  font-size: 95%;
  transition: background-color 0.5s, color 0.5s, border 0.5s;
  color: #ffffff;
}

.btn:hover,
.btn:active {
  background-color: #f1b945;
  color: #383838;
  border: 1px solid #f1b945;
}

/***********************
* UI/UX PROJECTS
************************/


.uiux {
  margin: 20px auto;
  min-height: 800px;
}

/* 
.uiux-phone {
  background: url(../img/uiux-bg.png) no-repeat;
  background-size: 600px;
  background-position: 90% 0%;
} */

.uiux-space {
  margin: 50px auto 20px auto;
}

.card-bottom {
  margin-bottom: 30px;
}

.uiux-title {
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 10%;
  font-size: 330%;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  z-index: 1000;
}

.uiux-title p {
  color: #fff;
  margin-top: 5px;
  font-weight: 400;
}

.uiux-img {
  background-color: #000;
  overflow: hidden;
  width: 100%;
  height: 350px;
  position: relative;
}

.uiux-img p {
  font-size: 60%;
  color: #fff;
  margin-top: 0px;
  font-weight: 400px;
}

.uiux-img img {
  width: 100%;
  height: auto;
  transform: scale(1.2);
  transition: all 0.5s ease;
  opacity: 1;
}

.uiux-img:hover > img {
  transform: scale(1);
  opacity: 0.5;
}

.uiux-img:hover > .uiux-title {
  animation: uiux-show 0.5s linear;
  opacity: 1;
}

@keyframes uiux-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/***********************
*PRINT
************************/

.print-space{
  margin-top:80px;
}


.print {
  background: url(../img/print.png) no-repeat;
  min-height: 900px;
  background-size: 100vw;
  background-position: bottom;
  margin-top: 30px;
  display: block;
}

.print-img {
  height: 500px;
  width: 100%;
  background: #fff;
  position: relative;
  box-shadow: 0px 8px 10px #5252526b;
}

.print-img img {
  width: 100%;
}

.contentbox {
  position: absolute;
  top: 3px;
  background: #fff;
  padding: 20px 30px 20px 30px;
  font-size: 150%;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  margin-top: 270px;
  word-wrap: break-word;
  height: 230px;
}

.contentbox span {
  opacity: 0;
  font-size: 60%;
  color: #00b99a;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  width: 90px;
  border-bottom: 2px solid #00b99a;
}

.print-img p {
  font-size: 60%;
  color: #666666;
  margin-top: 10px;
}

.print-img:hover > .contentbox {
  animation: goup 0.3s linear;
  margin-top: 220px;
  opacity: 1;
  height: 280px;
}

.print-img:hover > .contentbox span {
  animation: showup 0.3s linear;
  opacity: 1;
}

@keyframes goup {
  from {
    margin-top: 270px;
    height: 230px;
  }
  to {
    margin-top: 220px;
    height: 280px;
  }
}

@keyframes showup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/***********************
*SKETCH
************************/

#sketch-9 {
  display: none;
}

.sketch {
  margin: 30px 0;
  display: block;
  clear: both;
}

.sketch-showcase {
  list-style: none;
  width: 100%;
  display: block;
}

.sketch-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.sketch-img {
  width: 100%;
  margin: 0px;
  overflow: hidden;
  background-color: #000;
}

.sketch-img img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: all 0.5s ease;
}

.sketch-img img:hover {
  transform: scale(1);
  opacity: 1;
}

/***********************
*ABOUT ME
************************/

.about-space {
  margin-bottom: 70px;
  clear: both;
  display: block;
  height: 30px;
}

.about-row{
  margin-top:50px;
}

.about-photo {
  width: 80%;
  margin: 0 auto;
  padding-left: 50px;
}

.nickname{
  font-size:110%;
  color:#00b99a;
  font-weight: 700;
}

.iconcolor{
  font-size: 110%;
  color:#00b99a;
}

.about-social-media-list{
  color:#00b99a;
  display: block;
  font-size:150%;   
  margin-top:20px;
  padding-left:120px;
}

.about-social-media-list i{
  padding:10px 15px;
}

.about-social-media-list a{
  color:#0069d9;
}

.about-social-media-list a:hover{
  color:#00b99a;
}


/***********************
*FOOTER
************************/

footer {
  clear: both;
  background-color: #333;
  height: 350px;
  padding: 30px 0px;
  margin-top: 100px;
}

.footer-logo {
  width: 100%;
  margin: 0 auto;
  display: block;
  font-size: 200%;
  color: #fff;
  text-align: center;
}

.footer-logo a {
  color: #fff;
}

.footer-logo a:hover {
  color: #fff;
}

.footer-logo-size{
  width:150px;
}

.social-link {
  list-style: none;
  width: 260px;
  margin: 25px auto;
}

.social-link li {
  display: inline-block;
  margin: 0 10px;
  color: #f1b945;
}

.social-link li a:link,
.social-link li a:visited {
  font-size: 150%;
  display: inline-block;
  padding: 0 10px;
  color: #00b99a;
  transition: color 0.5s;
}

.social-link li a:hover,
.social-link li a:active {
  color: #f1b945;
}
