* {
  margin: 0px;
  padding: 0px;
}

html {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.section-container {
  max-width: 1140px;
  margin: 0px auto;
}

.row-space {
  margin: 50px auto;
}

/**********************
*FONT
font-family: 'Lato', sans-serif;
font-family: 'Patua One', cursive;
**********************/

.title {
  color: #ffffff;
  font-size: 350%;
  font-family: 'Patua One', sans-serif;
  display: block;
  letter-spacing: 1px;
  word-spacing: 4px;
  position: center;
}

.title-2 {
  color: #333;
  font-size: 200%;
  text-align: center;
  font-family: 'Patua One', sans-serif;
  padding-bottom: 5px;
  margin: 0px 0px 0px 0px;
}

.title-3 {
  color: #005b97;
  font-size: 400%;
  text-align: left;
  font-family: 'Patua One', sans-serif;
}

.title-4 {
  color: #005c99;
  font-size: 120%;
  font-family: 'Patua One', sans-serif;
}

.more-projects {
  text-align: center;
  color: #00b99a;
  font-weight: 400;
}

.small-title {
  color: #00b99a;
  font-size: 80%;
  font-family: 'Patua One', sans-serif;
}

h1 {
  color: #ffffff;
  font-size: 300%;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  text-align: left;
}

/***********************
*COLOR
#f1b945
#00b99a
#0069d9
************************/

/***********************
*HEADER
************************/

header {
  background-image: url(../img/header-2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header p {
  color: #fff;
}

/***********************
*NAVIGATION
************************/
.logo {
  height: 80px;
  width: auto;
  float: left;
  margin-top: 25px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 70px;
}

.main-nav li {
  display: inline-block;
  margin-right: 20px;
  color: #fff;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding-bottom: 6px;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
  padding-bottom: 6px;
  border-bottom: 2px solid #f1b945;
}

/***********************
*BUTTON
************************/
.btn:link,
.btn:visited {
  margin-top: -5px;
  padding: 6px 15px;
  text-decoration: none;
  border-radius: 200px;
  background-color: #00b99a;
  border: 1px solid #00b99a;
  font-size: 95%;
  transition: background-color 0.5s, color 0.5s, border 0.5s;
  color: #ffffff;
}

.btn:hover,
.btn:active {
  background-color: #f1b945;
  color: #383838;
  border: 1px solid #f1b945;
}

/***********************
* UI/UX PROJECTS
************************/
.projects {
  margin-top: 60px;
}

.uiux {
  margin: 100px auto;
}

.uiux p {
  margin: 8px 0 0 0;
  font-size: 100%;
}

.date {
  color: #7e7e7e;
  margin: 0px;
  font-size: 90%;
}

.card-bottom {
  margin-bottom: 30px;
}

.uiux-img {
  background-color: #000;
  overflow: hidden;
  width: 100%;
}

.uiux-img img {
  opacity: 1;
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: all 0.5s ease;
}

.uiux-img img:hover {
  opacity: 0.8;
  transform: scale(1.15);
}

/***********************
*PRINT
************************/
.print {
  background: url(../img/print.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  opacity: 1;
}

/***********************
*SKETCH
************************/
#sketch-9 {
  display: none;
}

.sketch {
  margin: 180px 0;
  display: block;
  clear: both;
}

.sketch-showcase {
  list-style: none;
  width: 100%;
}

.sketch-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.sketch-img {
  width: 100%;
  margin: 0px;
  overflow: hidden;
  background-color: #000;
}

.sketch-img img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: all 0.5s ease;
}

.sketch-img img:hover {
  transform: scale(1);
  opacity: 1;
}

/***********************
*ABOUT ME
************************/

.about-space {
  margin-bottom: 70px;
  clear: both;
  display: block;
  height: 30px;
}

.about-photo {
  width: 80%;
  margin: 0 auto;
  padding-left: 50px;
}

/***********************
*FOOTER
************************/
footer {
  clear: both;
  background-color: #333;
  height: 300px;
  padding: 30px 0px;
  margin-top: 100px;
}

.footer-logo {
  width: 300px;
  margin: 0 auto;
}

.social-link {
  list-style: none;
  width: 199px;
  margin: 25px auto;
}

.social-link li {
  display: inline-block;
  margin: 0 10px;
  color: #f1b945;
}

.social-link li a:link,
.social-link li a:visited {
  font-size: 150%;
  display: inline-block;
  padding: 0 10px;
  color: #00b99a;
  transition: color 0.5s;
}

.social-link li a:hover,
.social-link li a:active {
  color: #0069d9;
}
